<div class="w-full h-full p-2 text-0">

  <div class="w-full h-full
    p-0 m-0 b-0
    bg-indigo-900
    border-solid broder-round-2x1 surface-border
    grid">

    <p-table [value]="listaMesas"
             selectionMode="single" [(selection)]="mesaSelecionada" [scrollable]="true"
             scrollHeight="100%" class="w-full h-full cursor-pointer">
      <ng-template pTemplate="header">
        <tr class="grid p-0 b-0 m-0">
          <th class="col-5 text-center">Id Mesa</th>
          <th class="col-5 text-center">Ocupada</th>
          <th class="col-2 text-center">
            <div class="w-full h-full bg-green-600 cursor-pointer border- border-solid border-0 border-right-none"
                 (click)="cadastrarMesa()">
              <i class="pi pi-plus text-green-900"></i>
            </div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-mesa >
        <tr class="grid p-0 m-0 b-0">
          <td class="col-5 text-center">{{mesa.idMesa}}</td>
          <td class="col-5 text-center">{{mesa.estaOcupada}}</td>
          <td class="col-2 text-center h-full">
            <div class="w-full h-full p-0 m-0 b-0 outline-none grid">
              <div class="col-6 h-full bg-yellow-500 cursor-pointer border-2 border-solid border-0 border-right-none">
                <i class="pi pi-pencil text-yellow-800"></i>
              </div>
              <div class="col-6 h-full bg-red-600 cursor-pointer border-2 border-solid border-0">
                <i class="pi pi-times text-red-900"></i>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>

</div>
