<main class="flex flex-column bg-blue-800">
    
    <!-- 
        Header da página 
    -->
    <span class = "surface-50 w-12 h-1
    m-0 b-0 p-0">
        <div class="w-full h-full">
            <div class="col w-full h-full
            text-center text-3xl text-white-800" (click)="direcionamento()">
                Cozinha
            </div>
        </div>
    </span>

    <!-- 
        Corpo da página (área dos pedidos recebidos) 
    -->
    <div class="w-full h-11 p-2 text-0">

        <!-- 
            Painel dos pedidos 
        -->
        <div class="w-full h-12 
        p-0 m-0 b-0
        surface-700
        grid">
            <!-- 
                Entrada dos pedidos 
            -->
            <div class="col-2 h-12
            p-0 m-0 b-0
            border-solid broder-round-2x1 surface-border border-right-none
            flex flex-wrap flex-row
            overflow-y-auto">
            <!--Lista dos pedidos-->
                <div id="AreaTabela"
                class="p-0 m-0 b-0
                w-full h-full">
                    <!-- Cabeçario da tabela -->
                    <div class="p-0 m-0 b-0
                    w-full h-1 surface-100 text-800
                    grid text-center">
                        <!-- Coluna 1 -->
                        <div class="col p-0 m-0 b-0
                        w-full h-full border-bottom-2 surface-border
                        flex justify-content-center align-items-center">
                            <h4>ID Mesa</h4>
                        </div>
                        <!-- Coluna 2 -->
                        <div class="col p-0 m-0 b-0
                        w-full h-full border-bottom-2 surface-border
                        flex justify-content-center align-items-center">
                            <h4>Hora Pedido</h4>
                        </div>
                    </div>

                    <!-- Corpo da tabela -->
                    <div class="p-0 m-0 b-0
                    w-full h-11
                    flex flex-column text-center">
                        <!-- Linha da tabela -->
                        <div *ngFor="let comanda of listaComandasPendentePreparo" 
                        class="p-0 m-0 b-0
                        w-full h-1
                        grid text-center
                        cursor-pointer" 
                        (click)="selecionaComanda(comanda)">
                            <!-- Comanda selecionada -->
                            <!-- Coluna 1 -->
                            <div class="col p-0 m-0 b-0
                            w-full h-full border-bottom-1 bg-blue-200
                            flex justify-content-center align-items-center" *ngIf="comanda.idMesa == this.comandaSendoAtendida.idMesa">
                                {{comanda.idMesa}}
                            </div>   
                            <!-- Coluna 2 --> 
                            <div class="col p-0 m-0 b-0
                            w-full h-full border-bottom-1 bg-blue-200
                            flex justify-content-center align-items-center" *ngIf="comanda.idMesa == this.comandaSendoAtendida.idMesa">
                                {{comanda.horaPedidoMaisAntigoNaoPreparado}}
                            </div>                           

                            <!-- Comanda não selecionada -->
                            <!-- Coluna 1 -->
                            <div class="col p-0 m-0 b-0
                            w-full h-full border-bottom-1 surface-border
                            flex justify-content-center align-items-center" *ngIf="comanda.idMesa != this.comandaSendoAtendida.idMesa">
                                {{comanda.idMesa}}
                            </div>
                            <!-- Coluna 2 -->
                            <div class="col p-0 m-0 b-0
                            w-full h-full border-bottom-1 surface-border
                            flex justify-content-center align-items-center" *ngIf="comanda.idMesa != this.comandaSendoAtendida.idMesa">
                                {{comanda.horaPedidoMaisAntigoNaoPreparado}}
                            </div>

                        </div>
                    </div>

                    
                    
                </div>
            </div>

            <!-- 
                Detalhamento da comanda selecionada 
            -->
            <div id="dealhamentoComanda" class="col-10 h-12
            p-1 m-0 b-0
            border-solid broder-round-2x1 surface-border">
                <!-- ID da mesa -->
                <div>

                </div>
                <!-- Área com os pedidos da comanda -->
                <div>

                </div>
            </div>

        </div>

    </div>

</main>