<main class="bg-blue-800 w-screen h-screen grid
  p-0 b-0 m-0">

  <!-- Lateral da esquerda = Azul claro -->
  <div class="col-2 h-full m-0 p-0 b-0"></div>

  <!-- Centro = Azul Escuro -->
  <div class="col-8 h-full m-0 p-0 b-0">

    <!-- Área da seleção dos pedidos -->
    <div class="w-full h-full m-0 p-0 b-0">

      <!-- Área do título -->
      <div class="p-0 m-0 b-0 text-center w-full h-1 border-noround border-1 border-double border-200 surface-50 text-center text-3xl text-white">

        <div class="w-full h-full flex justify-content-center align-items-start grid p-0 m-0 b-0">

          <div class="col-11 h-full p-0 m-0 b-0">
                <span class="p-0 m-0 b-0 w-full h-full text-center flex justify-content-center align-items-center">
                  Mesas
                </span>
          </div>

          <button class="col-1 h-full pi pi-chevron-up bg-blue-900 p-0 m-0 b-0 border-1 border-top-none border-right-none border-bottom-none"
                  (click)="direcionamento()">
          </button>

        </div>

      </div>

      <!-- Área do corpo Mesa-->
      <div class="w-full h-11 border-noround border-1 border-double
                  border-200 surface-50 text-xl text-white m-0 p-0">

        <!-- Lista Mesas -->
        <div class="w-full h-12 border-noround border-double border-200
                    border-top-none border-left-none border-right-none border-bottom-none
                    surface-50 text-xl text-white m-0 p-0 overflow-y-auto">
          <!--Comando para gerar lista das Mesas-->
          <div *ngFor="let mesa of listasMesas" class="w-full h-1 b-0 m-0 p-0 grid">

            <!-- Número Mesa -->
            <div class="col-3 h-full m-0 p- b-0 grid">
              <div class="col-6 h-full m-0 p-0 b-0
                          flex align-items-center justify-content-center">
                <span>
                  Mesa {{mesa.idMesa}}
                </span>
              </div>

              <!-- Ícone quantidade item comanda -->
              <div class="col-6 h-full m-0 p-0 b-0
                          flex align-items-center justify-content-center">
                <!--                <span style="padding: 0.25em 0.5em; background-color: #007bff; color: #fff;">-->
                <!--                </span>-->
              </div>
            </div>

            <!-- Botão visualizar comandaMesa-->
            <div class="col-3 h-full m-0 p- b-0 flex align-items-center justify-content-center">
              <p-button label="Visualizar" styleClass="p-1" icon="pi pi-search" (click)="visualizarPedidosDaMesa(mesa)"></p-button>
            </div>

            <!-- Botão Adicionar Pedido-->
            <div class="col-3 h-full m-0 p-0 b-0 flex align-items-center justify-content-center">
              <p-button label="Adicionar" styleClass=" p-1" icon="pi pi-plus" (click)="adicionarItemMesa(mesa)"></p-button>
            </div>

            <!-- Botão Finalizar Mesa-->
            <div class="col-3 h-full m-0 p-0 b-0 flex align-items-center justify-content-center">

              <div class="p-0 m-0 b-0">
                <button type="button" class="p-1" pButton pRipple label="Finalizar" icon="pi pi-check-circle"
                        (click)="finalizarComandaMesa(mesa)">
                </button>
              </div>
            </div>
          </div>
          <p-toast></p-toast>
        </div>
      </div>

    </div>
  </div>

  <!-- Lateral da direita = Azul claro -->
  <div class="col-2 h-full m-0 p-0 b-0"></div>
</main>
