<main class="flex flex-column bg-blue-800">

  <!-- Header da página -->
  <span class = "surface-50 w-12 h-1
  m-0 b-0 p-0">
      <div class="w-full h-full">
          <div class="col w-full h-full
          text-center text-3xl text-white-800" (click)="direcionamento()">
              Caixa
          </div>
      </div>
  </span>

    <!-- Corpo da página (área dos pedidos recebidos) -->
    <span class="w-full h-11 p-2 text-0">

      <!-- Painel -->
      <div class="w-full h-12
      p-0 m-0 b-0
      surface-700
      grid">
      </div>

  </span>
</main>
