<!-- Tela do Caixa -->
<main class="flex flex-column bg-blue-800">

  <!-- Titulo da página -->
  <span class="surface-50 w-12 h-1 m-0 b-0 p-0">
    <div class="w-full h-full">
      <div class="col w-full h-full text-center text-3xl text-white-800
                  cursor-pointer" (click)="direcionamento()">
        <span>
          Caixa
        </span>
      </div>
    </div>
  </span>

  <!-- Corpo da página (área dos pedidos/comandas recebidos) -->
  <div class="w-full h-11 p-2 text-0">

    <!-- Painel das comandas -->
    <div class="w-full h-12 p-0 m-0 b-0 surface-700
                grid">
      <!-- Entrada das comandas -->
      <div class="col-2 h-12 p-0 m-0 b-0
                  border-solid broder-round-2x1 surface-border border-right-none
                  flex flex-wrap flex-row overflow-y-auto">
        <!--Lista das comandas-->
        <div class="p-0 m-0 b-0 w-full h-full">
          <!-- Cabeçario da tabela -->
          <div class="p-0 m-0 b-0 w-full h-1 surface-100 text-800 text-center
                      grid">
            <!-- Coluna 1 -->
            <div class="col p-0 m-0 b-0 w-full h-full border-bottom-2 surface-border
                        flex justify-content-center align-items-center">
              <span>
                <h4>Mesa</h4>
              </span>
            </div>
          </div>

          <!-- Corpo da tabela -->
          <div class="p-0 m-0 b-0 w-full h-11
                      flex flex-column text-center">
            <!-- Linha da tabela -->
            <div class="p-0 m-0 b-0 w-full h-1 text-center grid cursor-pointer"
                 *ngFor="let mesa of ListaMesas"(click)="selecionarMesa(mesa)">
              <!-- Comanda selecionada -->
              <!-- Coluna 1 -->
              <div class="col p-0 m-0 b-0 w-full h-full border-bottom-1 bg-blue-200
                          flex justify-content-center align-items-center"
                   *ngIf="mesa.idMesa">
                <span>
                  {{mesa.idMesa}}
                </span>
              </div>

              <!-- Comanda não selecionada -->
              <!-- Numero mesa -->
              <div class="col p-0 m-0 b-0 w-full h-full border-bottom-1 surface-border
                          flex justify-content-center align-items-center"
                   *ngIf="mesa.idMesa ">
                {{mesa.idMesa}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Detalhamento da mesa selecionada -->
      <div class="col-10 h-12 p-0 m-0 b-0
                  border-solid broder-round-2x1 surface-border
                  grid">
        <!-- Área do detalhamento (nova DIV criada para deixar responsivo) -->
        <div class="col w-full h-full p-0 m-0 b-0">
          <!-- ID da mesa -->
          <div class="col w-full h-1 p-0 m-0 b-0 border-bottom-1 surface-border
                      grid">
            <div class="col w-full h-full p-0 m-0 b-0
                        flex justify-content-center align-items-center">
              <h2> Pedidos da Mesa </h2>
            </div>
          </div>

          <!-- Área com os pedidos -->
          <div class="col w-full h-10 p-0 m-0 b-0
                      grid">

            <!-- Cabeçario da tabela de pedidos -->
            <div class="p-0 m-0 b-0 w-full h-1 surface-100 text-800 text-center
                        grid">
              <!-- Coluna: ID do Pedido -->
              <div class="col p-0 m-0 b-0 w-full h-full border-bottom-2 surface-border
                          flex justify-content-center align-items-center">
                <h4>Comanda</h4>
              </div>
              <!-- Coluna: Nome do item -->
              <div class="col p-0 m-0 b-0 w-full h-full border-bottom-2 surface-border
                          flex justify-content-center align-items-center">
                <h4>Nome Produto</h4>
              </div>
              <!-- Coluna: Quantidade do item -->
              <div class="col p-0 m-0 b-0 w-full h-full border-bottom-2 surface-border
                          flex justify-content-center align-items-center">
                <h4>Quantidade Produtos</h4>
              </div>
              <!-- Coluna: Preço total itens -->
              <div class="col p-0 m-0 b-0 w-full h-full border-bottom-2 surface-border
                          flex justify-content-center align-items-center">
                <h4>Preço Total Produtos</h4>
              </div>
            </div>


            <!-- Lista com os pedidos vinculados a mesa -->
            <div class="p-0 m-0 b-0 w-full h-11
                        flex flex-column text-center overflow-y-auto">

              <!-- Linha da tabela de pedidos -->
              <div *ngFor="let pedido of listaPedidos" class="p-0 m-0 b-0 w-full h-1 text-center
                           grid cursor-pointer">
                <!-- Comanda selecionada -->
                <!-- Coluna: ID do Pedido -->
                <div class="col p-0 m-0 b-0 w-full h-full border-bottom-1
                            flex justify-content-center align-items-center"
                     *ngIf="pedido.item.necessitaPreparoCozinha">
                  <!-- Listar o id da Comanda -->
                </div>
                <!-- Coluna: Nome do item -->
                <div class="col p-0 m-0 b-0 w-full h-full border-bottom-1
                            flex justify-content-center align-items-center"
                     *ngIf="pedido.item.necessitaPreparoCozinha">
                  {{pedido.item.nome}}
                </div>

                <!-- Coluna: Quantidade do item -->
                <div class="col p-0 m-0 b-0 w-full h-full border-bottom-1
                            flex justify-content-center align-items-center"
                     *ngIf="pedido.item.necessitaPreparoCozinha">
                  {{pedido.quantidadeItem}}
                </div>

                <!-- Coluna: Preço total itens -->
                <div class="col p-0 m-0 b-0 w-full h-full border-bottom-1
                            flex justify-content-center align-items-center">
                  <!-- trazer o preço total dos itens-->
                </div>
              </div>
            </div>
          </div>

          <!-- Finalização da comanda-->
          <div class="col w-full h-1 p-0 m-0 b-0
                      border-top-1 surface-border
                      grid">

            <!-- TODO - É preciso criar logica para excluir somente item selecionado -->
            <!-- Botão excluir pedido -->
            <div class="col w-6 h-full p-0 m-0 b-0
                        border-right-1 surface-border
                        flex justify-content-center align-items-center">
              <div class="pi pi-times p-0 m-0 b-0 w-full h-full bg-red-100 text-red-500
                          flex justify-content-center align-items-center
                          cursor-pointer" (click)="cancelarPedido()">
                <span class="p-4">Excluir Item</span>
              </div>
            </div>

            <!-- Botão finalizar comanda -->
            <div class="col w-6 h-full p-0 m-0 b-0">
              <div class="pi pi-check p-0 m-0 b-0 w-full h-full bg-green-100 text-green-500
                          flex justify-content-center align-items-center
                          cursor-pointer" (click)="finalizarPedido()">
                <span class="p-4">Finalizar Pedido</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
