<main class="flex flex-column bg-blue-800">

  <!-- Header da página -->
  <div class="surface-50 w-full h-1 m-0 b-0 p-0">
    <div class="w-full h-full">
      <div class="col w-full h-full text-center text-3xl text-white-800
                  cursor-pointer" (click)="direcionamento()">
        <span>
          Caixa
        </span>
      </div>
    </div>
  </div>

  <!-- Corpo da Página -->
  <div class="surface-0 w-full h-11 b-0 m-0 p-0 grid">

    <!--  Lado esquerdo da página  -->
    <div class="col-8 h-full grid b-0 m-0 p-2">
        <div class="w-full h-full b-0 m-0 p-1 border-noround border-solid border-1 surface-300 flex flex-wrap overflow-y-auto flex-row">
          <!--    Área das mesas      -->
          <div *ngFor="let mesa of listaMesas" class="w-3 h-3 border-noround border-solid border-1 border-black-alpha-10 surface-300 flex justify-content-center align-items-center">
            Mesa {{mesa.idMesa}}
          </div>

        </div>
    </div>

    <!-- Lado direito da página   -->
    <div class="col-4 h-full grid b-0 m-0 p-2">
      <div class="w-full h-full b-0 m-0 p-0 border-noround border-solid border-1 surface-300">

      </div>
    </div>

  </div>


</main>
