<main class="container-fluid vw-100 vh-100 text-center m-0 p-0">

    <div class="row w-100 h-100 justify-content-center align-items-center p-0 m-0">
  
      <form class="col-8 
      border border-secondary border-opacity-75 rounded
      shadow-lg p-2 m-0 
      h-100
      azul">
      
      <div id="areaTitulo" class="row vermelho m-0 p-0 mb-4 align-items-center justify-content-center
      w-100 h-20">
        <div id="titulo" class="col h1 w-100 h-100 p-0 m-0">
            Direcionamento (x)
        </div>
      </div>
      
      <div id="areaBotoes" class="row m-0 p-2 
      border border-secondary border-opacity-75
      w-100 h-80">      

        <div class="col m-0 p-0 w-100 h-100">

            <button class="w-100 h-100 
            btn btn-lg btn-primary 
            mb-1
            " type="submit" >
                Cozinha
            </button>

        </div>

      </div>
               
    
      </form>
  
    </div>
  
  </main>