.azul{
    background-color: lightblue;
}

.rosa{
    background-color: lightpink;
}

.amarelo{
    background-color: lightyellow;
}

.cinza{
    background-color: lightgrey;
}

.vermelho{
    background-color: red;
}