<main class="flex align-items-center justify-content-center
bg-blue-800">

    <span class="w-4 h-20rem bg-gray-900 p-0 p-1
    border-round-xl">

        <div class="grid text-center w-full h-titulo
        p-1 m-0 b-0">
            <span class="col w-full h-full
            flex align-items-center justify-content-center
            text-4xl">Tri-Devs</span>
        </div>


        <div class="grid w-full h-login
        p-1 m-0 b-0">
            <div class="p-inputgroup col
            p-0 m-0 b-0
            flex align-items-center justify-content-center">
                <span class="p-inputgroup-addon w-2 h-4rem"><i class="pi pi-user"></i></span>
                <input class="w-10 h-4rem text-lg" type="text" pInputText placeholder="Login" [(ngModel)]="login">
            </div>
        </div>

        <div class="grid w-full h-senha
        p-1 m-0 b-0">
            <div class="p-inputgroup col
            p-0 m-0 b-0
            flex align-items-center justify-content-center">
                <span class="p-inputgroup-addon w-2 h-4rem"><i class="pi pi-lock"></i></span>
                <input class="w-10 h-4rem text-lg" type="password" pInputText placeholder="Senha" [(ngModel)]="senha">
            </div>
        </div>

        <div class="grid w-full h-botao
        p-1 m-0 b-0">
            <div class="col v-full h-full
            p-0 m-0 b-0">
                <button class="w-12 h-full" pButton type="button" label="Entrar" (click)="entrar()">
                </button>
            </div>
        </div>

    </span>

</main>
